@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Yellowtail&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.iconsWrapper {
  display: grid;
  gap: 30px;
  margin-right: 4%;
}

.icons {
  color: white;
  height: 35px;
  width: 35px;
  transition: 0.8s;
  opacity: 60%;
}
.icons:hover {
  cursor: pointer;
  transition: 0.2s;
  opacity: 100%;
}
.icons:active {
  width: 20px;
}
