.aboutContent {
  margin-top: 5%;
  margin-right: 15px;;
}
.aboutText {
  font-size: 20px;
  color: #ff5851;
  margin: 10% 10%;
  text-align: center;
}
.aboutIcons {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-right: 10%;
}

@media screen and (max-width: 700px) {
  .aboutContent {
    display: block;
    margin-left: 5%;
  }

  .aboutText {
    font-size: 12px;
    margin: 0% 10%;
    text-align: center;
  }
  .aboutIcons {
    margin-top: 10%;
    align-content: center;
    gap: 5px;
    margin-right: 5%;
  }
}
@media screen and (max-height: 600px) {
  .contentWrapper {
    position: realtive;
  }
  .aboutContent {
    height: 100%;
    display: block;
    margin-left: 5%;
    overflow-y: scroll;
  }
  .aboutText {
    font-size: 12px;
    color: white;
    margin: 10% 10%;
    text-align: center;
  }
  .aboutIcons {
    margin-top: 10%;
    align-content: center;
    margin-right: 5%;
    margin-bottom: 15%;
  }
}
