@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Yellowtail&display=swap");

.homeContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.mainContent {
  border-left: #ff5851 double 5px;
  padding-left: 10px;
  color: #ff5851;
  margin-left: 10%;
  transform: translateX(200%);
}
.mainContentAfter {
  border-left: #ff5851 double 5px;
  border-top: #ff5851 double 5px;
  padding-top: 40px;
  padding-left: 40px;
  color: #ff5851;
  margin-left: 5%;
  transform: translateX(0%);
  transition: ease-in 0.6s;
}
.introduction {
  max-width: 400px;
}
.homeH1Wrapper {
  display: flex;
  margin-bottom: 10%;
}
.homeH1Wrapper:hover {
  width: 150px;
}
.homeH1 {
  font-family: "Cabin Sketch", cursive;
  cursor: default;
  height: 85px;
  font-size: 65px;
  transition: 1s;
  margin: 0;
}
.homeH1:hover {
  font-size: 85px;
  transition: 0.9s;
  transition-duration: 0.5s;
  margin: 0;
  color: #f8aaa7;
  opacity: 75%;
}
.homeH2Wrapper {
  font-family: "Cabin Sketch", cursive;
  display: flex;
  margin-bottom: 10%;
}
.homeH2Wrapper:hover {
  width: 250px;
}
.homeH2 {
  cursor: default;
  height: 55px;
  font-size: 35px;
  transition: 2s;
  margin: 0;
}
.homeH2:hover {
  font-size: 50px;
  transition: 0.5s;
  transition-duration: 0.5s;
  margin: 0;
  color: #f8aaa7;
  opacity: 75%;
}
@media screen and (max-width: 700px) {
  .mainContentAfter {
    padding-left: 0px;
    font-size: 0.8rem;
  }
  .homeH1 {
    font-size: 2.5rem;
  }
  .homeH2 {
    font-size: 1.5rem;
  }
  .homeH1:hover {
    pointer-events: none;
  }
  .homeH2:hover {
    pointer-events: none;
  }
}
